# Core Python Libraries
pandas==2.2.3
numpy==2.0.2
scikit-learn==1.6.1
joblib==1.4.2
python-dotenv==1.0.1
category_encoders==2.8.1

# FastAPI & ASGI Server
fastapi==0.115.4
uvicorn==0.32.0
jinja2==3.0.2  # If using templates
python-multipart==0.0.12  # If handling file uploads

# Visualization (optional)
matplotlib==3.9.2
seaborn==0.13.2
altair==5.4.1
plotly==5.19.0

# Web & API Tools
requests==2.31.0
httpx==0.27.0

# NLP / Text (optional)
nltk==3.9.1
yake==0.4.8
vaderSentiment==3.3.2

# Frontend UI (if Streamlit is used)
streamlit==1.39.0
streamlit_folium==0.23.1

# Cloud / Utility (optional)
boto3==1.35.48
openpyxl==3.1.5

# Audio / PDF (optional)
pydub==0.25.1
gTTS==2.5.4
pdfplumber==0.11.5
pytesseract==0.3.13

# Geospatial (optional)
folium==0.17.0
geopy==2.4.1
geopandas==1.0.1
pyproj==3.7.0

# Others
regex==2024.11.6
shapely==2.0.6
pyarrow==17.0.0
